*,
::after,
::before {
    box-sizing: border-box;
}
img {
    display: block;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p, h1, h2, h3, h4, h5 ,h6, ol, ul, a {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;

}
.header-container {
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-left: 10px ;
    margin: 0 auto;
    gap: 29px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 14px;
    justify-content: space-around;
}
#logo-name {
    display: flex;
    align-items: center;
    gap: 10px;
}
.name-logo {
    display: inline-block;
    color: #000;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 900;
line-height: 26px; /* 118.182% */

}
#header-btn {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: 13px; /* 118.182% */
    letter-spacing: 0.825px;
    background: #4BA87D;
    border: none;
    padding: 6px 13px ;
}
.s1-img {
    object-fit: cover;
    display: block;
    max-width: 310px;
    position: relative;
    margin-top: 50px;
    
}
.first-section {
    margin: 0 auto;
}
.container {
    max-width: 320px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
#main-text-s1 {
    color: #000;
font-family: "Playfair Display";
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: 46px; /* 127.778% */
letter-spacing: 0.04em;
position: absolute;
padding-top: 100px;
z-index: 999;
top: -20px;
width: 300px;
}
.s1-scnd-text {
    color: #000;
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
margin-top: 16px;
}
.btns-s1 {
    margin-top: 16px;
    display: block;
    text-align: center;
}
#try-now {
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 13px;
font-style: normal;
font-weight: 800;
line-height: 15px; /* 115.385% */
letter-spacing: 0.65px;
background: #4BA87D;
padding: 13px 39px;
border: none;
}
#get-demo {
    border: 3px solid #4BA87D;
background: #FFF;
color: #4BA87D;
text-align: center;
font-family: Raleway;
font-size: 13px;
font-style: normal;
font-weight: 900;
line-height: 15px; /* 115.385% */
letter-spacing: 1.3px;
padding: 11px 24px ;
}
#sct2-img {
    object-fit: cover;
    margin-top: 10px;
    z-index: 0;
}
#reach-text {
    color: #ffffff;
font-family: "Playfair Display";
font-size: 22px;
font-style: normal;
font-weight: 900;
line-height: 29px; /* 131.818% */
}
.over-pic {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 21px;
    text-align: center;
    top: 90px;
    left: 40px;
    z-index: 1001;
    align-items: center;
}
#over-btn {
    background: #FFF;
    color: #4BA87D;
text-align: center;
font-family: Raleway;
font-size: 6px;
font-style: normal;
font-weight: 800;
line-height: 7px; /* 116.667% */
letter-spacing: 0.3px;
border: none;
padding: 7px 13px;
width: 65px;
}
.container-two {
    max-width: 320px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    position: relative;
    z-index: -100;
}
.descr-gr-section {
    color: #000;
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
padding-left: 20px;
padding-right: 25px;


}
.learn-more {
    color: #4BA87D;
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 800;
line-height: 14px; /* 116.667% */
margin-top: 8px;
padding-left: 20px;
padding-right: 25px;
}
.list-item {
display: flex;
width: 209px;
flex-direction: column;
border: 1px solid rgba(128, 128, 128, 0.421);
padding-bottom: 20px;
background-color: #FFF;
}
.descr-gr-section-marg {
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 16px ;    
    
}
.right {
    margin-top: 14px;
    margin-left: auto;
    
}
#green-section {
    background-image: url('./images/background.jpg');
    fill:#CAEAC7;
    background-size: cover; /* Ensures the background image covers the entire section */
    background-position: center center; /* Centers the image within the section */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed in place when scrolling (optional) */
    padding-bottom: 15px;
    background-color: #CAEAC7;
}
#block-green {
    margin-top: 20px;
    padding-left: 36px;
    padding-right: 36px;
}
.the-source {
    color: #000;
font-family: "Playfair Display";
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: 31px; /* 110.714% */
}
.descr-green {
    color: #000;
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
margin-top:  17px;
}
.members {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    
}
.one-member {
    text-align: center;
    position: relative;
    margin: 0 auto;
    
    
}
.over-member {
    position: absolute;
    top: 80px;
    left:20px;
    color: #FFF;
    text-align: left;
    margin-top: 21px;
    
}
.name {
    color: #FFF;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 850;
line-height: 26px; /* 118.182% */
}
.member-since {
    color: #FFF;
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 14px; /* 116.667% */
margin-top: 3px;
}
.img-member {
    background: linear-gradient(0deg, #000 -32.5%, rgba(84, 84, 84, 0.00) 67.78%);
}
.form-block {
    margin-top: 59px ;
    padding-left: 41px;
padding-right: 41px;
margin-left: auto;
margin-right: auto;
text-align: center;
width: 320px;
}
.form-text {
    color: #000;
text-align: center;
font-family: "Playfair Display";
font-size: 26px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 138.462% */
}
#input-form {
    margin-top: 10px ;
    border-radius: 5px;
border: 1px solid #9F9F9F;
background: #FFF;
padding-top: 13px;
padding-left: 14px ;
padding-bottom: 14px;
width: 223px;
}
#input-form::placeholder {
    color: #000;
font-family: Raleway;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 15px; /* 115.385% */
letter-spacing: 0.65px;
}
.btn-form {
    background-color: #4BA87D;
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 13px;
font-style: normal;
font-weight: 900;
line-height: 15px; /* 115.385% */
letter-spacing: 0.65px;
padding: 18px 13px 21px 21px;
margin-top: 40px;
border: none;
cursor: pointer;
}
.container-green {
    max-width: 320px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.brands {
    margin-top: 51px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 320px;
    padding-bottom: 58px;
}
.all-brands {
    color: #000;
text-align: center;
font-family: "Playfair Display";
font-size: 26px;
font-style: normal;
font-weight: 900;
line-height: 36px; /* 138.462% */
}
.brand-list {
    display: flex;
    flex-wrap: wrap;
    gap:60px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.get-started {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 320px;
}
.get-text {
    color: #FFF;
text-align: center;
font-family: "Playfair Display";
font-size: 42px;
font-style: normal;
font-weight: 800;
line-height: 48px; /* 114.286% */
}
#pick-btn {
    display: block;
    margin-top: 40px;
    color: #4BA87D;
text-align: center;
font-family: Raleway;
font-size: 13px;
font-style: normal;
font-weight: 900;
line-height: 15px; /* 115.385% */
letter-spacing: 0.65px;
padding-left: 23px;
padding-right: 23px;
padding-top: 13px;
padding-bottom: 14px;
border: none;
background: #FFF;
margin-left: auto;
margin-right: auto;
}
footer {
    padding-top: 50px;
    padding-bottom: 51px;
}
.footer-container {
    width: 320px;
    padding-left: 17px;
    padding-right: 17px;
    margin: 0 auto;
}
#footer-links {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-basis: 70px;
    column-gap: 96px;
    
    row-gap: 7px;
    position: relative;
    z-index: 500;

}
.eclipse {
    display: none;
}
.link-footer {
    
    color: #000;
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 14px; /* 116.667% */
width: 70px;
}
.first-pic {
    padding-top: 60px;
}
#footer-links::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 281px;
    top: 160px;
    left: 0;
    background-color: #DBDBDB;;
    z-index: 999;
    display: flex;
}
.last-part-footer {
    margin-top: 35px;
    color: #000;
font-family: Raleway;
font-size: 9px;
font-style: normal;
font-weight: 600;
line-height: 19px; /* 211.111% */
}
.last-text-footer {
    width: 186px;
    color: #000;
}
.terms {
    margin-top: 14px;
}
.links-header {
    display: none;
}
#get-started-sct {
    background-color: #4BA87D;
}
.icons {
    display: none;
}
@media screen and (min-width: 768px) {
    #header  {
        display: flex;
        align-items: center;
        padding-top: 9px;
        padding-left: 10px ;
        margin: 0 auto;
        gap: 15px;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 18px;
        justify-content: space-evenly;
    }
    .links-header {
        display: block;
    }
    .header-links {
        display: flex;
        gap: 26px;
        margin-left: 130px;
        color: #000;
font-family: Raleway;
font-size: 11px;
font-style: normal;
font-weight: 800;
line-height: 13px; /* 118.182% */
letter-spacing: 0.825px;
text-transform: uppercase;
    }
.header-one-link-long {
    position: relative;
}
.header-one-link-long::after  {
    position: absolute;
    content: ""; 
    background-color: #4BA87D;
    height: 3px;
    width:65px;
    top: 14px;
    left: -1px;
}
.header-one-link-short {
    position: relative;
}
.header-one-link-short::after  {
    position: absolute;
    content: ""; 
    background-color: #4BA87D;
    height: 3px;
    width:55px;
    top: 14px;
    left: -2px;
}
.header-container {
    padding-right: 10px;
    gap: 5px;
}
.header-one-link-services {
    position: relative;
}
.header-one-link-services::after  {
    position: absolute;
    content: ""; 
    background-color: #4BA87D;
    height: 3px;
    width: 61px;
    top: 14px;
    left: -2px;
}

.container {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    height: auto;
}


#main-text-s1 {
    color: #000;
    font-family: "Playfair Display";
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 46px; /* 121.053% */
letter-spacing: 0.04em;
position: absolute;
padding-top: 100px;
z-index: 999;
top:-60px;
width: 350px;
}
#header-btn {
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 11px;
font-style: normal;
font-weight: 800;
line-height: 13px; /* 118.182% */
letter-spacing: 0.825px;
padding-left: 13px;
padding-right: 13px;
padding-top: 6px;
padding-bottom: 6px;


}
.s1-scnd-text {
    color: #000;
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
margin-top: 16px;
position: absolute;
padding-top: 100px;
z-index: 999;
top:30px;
width: 300px ;
}


.btns-s1 {
    position: absolute;
padding-top: 100px;
z-index: 999;
top:80px;
display: flex;
gap: 20px;
}

.first-pic {
    display: block;
    margin-left: auto;
    box-shadow: -11px -9px 16px -6px rgba(181,181,181,1);
    padding-top: 0;

    

}
.first-section .container {
    position: relative;
    padding-bottom: 40px;
}

.square {
    display: block;
    position: absolute;
    
    z-index: 999;
    top:10px;
    left: 150px;
    
    z-index: 1000;
}
.eclipse {
    display: block;
    position: absolute;
    top: -7px;
    left: 500px;
    
    z-index: -2;
}
.icons {
    display: block;
}
.small-square {
    display: none;
}
.small-eclipse {
    display: block;
    position: absolute;
    
    z-index: 999;
    top:170px;
    left: 10px;
    
    z-index: 1000;
}
.rect {
    display: block;
    position: absolute;
    
    z-index: 999;
    top:260px;
    left: 30px;
    
    z-index: 1000;
}
.section-two {
    background-color: rgba(128, 128, 128, 0.147);
    margin: 0 auto;
}
.container-two {
    max-width: 768px;
    padding-top: 30px;
    padding-bottom: 50px;
    z-index: 1;
    margin: 0 auto;
    position: relative;
}
#sct2-img {
    display: block;
    z-index: 100;
    width: 600px;
    height: 350px;
    margin: 0 auto;

}
#reach-text {
    color: #FFF;
font-family: "Playfair Display";
font-size: 38px;
font-style: normal;
font-weight: 900;
line-height: 51px; /* 134.211% */
}
#over-btn {
    color: #4BA87D;
text-align: center;
font-family: Raleway;
font-size: 13px;
font-style: normal;
font-weight: 900;
line-height: 15px; /* 115.385% */
letter-spacing: 0.65px;
padding-top: 12px;
padding-left: 24px;
padding-bottom: 14px;
padding-right: 24px;
width: auto;

}
.over-pic {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 21px;
    text-align: center;
    top: 150px;
    left: 180px;
    z-index: 1001;
    align-items: center;
}

.container-green {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 36px;
    display: flex;
    column-gap: 30px;
    
}
.list-item {
        display: flex;
        width: 209px;
        height: 300px;
        flex-direction: column;
        border: 1px solid rgba(128, 128, 128, 0.421);
        padding-bottom: 20px;
        background-color: #FFF;
        box-shadow: -11px -9px 16px -6px rgba(181,181,181,1);

        }

.right {
    display: block;
    margin-top: 70px;
    height: auto;
    box-shadow: -11px -9px 16px -6px rgba(181,181,181,1);

}
#block-green {
    margin-top: 70px;
}

.members {
    width: 768px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
padding-bottom: 40px;
display: flex;
flex-direction: row;
}
.form-block {
  width: 590px;
}
#input-form {
    margin-top: 0;
}
.btn-form {
    color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 13px;
font-style: normal;
font-weight: 900;
line-height: 15px; /* 115.385% */
letter-spacing: 0.65px;
padding: 0px 0px 0px 0px;
padding-left: 21px;
padding-top: 13px;
padding-right: 21px;
padding-bottom: 13px;
}
.brands {
    width: 768px;
    padding-left: 60px;
    padding-right: 60px;
}
.brand-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    gap: 0px;
    margin-top: 40px;
}
.get-started {
    padding-top: 40px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 768px;
}


#footer-links {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-basis: 70px;
    column-gap: 96px;
    max-height: 150px;
    

}
#footer-links::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 600px;
    top: 160px;
    left: -200px;
    background-color: #DBDBDB;;
    z-index: 999;
    display: flex;
}
.footer-container {
    width: 768px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 70px;
    flex-wrap: wrap;
    position: relative;
}
.last-part-footer {
    display: block;
    position: absolute;
    top: 210px;
    left: 80px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-text-footer {
    width: 400px;
}
.terms {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 0;
}
}

@media screen and (min-width: 1440px ) {
.container {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto ;
        padding-left: 200px;
        padding-right: 200px;
        height: auto;
    }
}





}